.unavailable-slot {
    background-color: red;
    color: white;
  }
  
  .user-booked-slot {
    background-color: green; /* or any other styling you prefer */
    color: white; /* for text readability */
}

  

.pending-slot {
  background-color: yellow; /* Or any color you prefer for pending bookings */
}

.available-slot {
  background-color: white;
}

.past-unavailable-slot {
  color: grey;
  pointer-events: none; /* Optional: Makes past dates unclickable */
  background-color: #f5f5f5; /* Light grey background */
}
